@model Boutique.Models.Produs
<div class="col-lg-3 col-md-6 pb-4 filter @Model.Categorie.Name.Replace(' ','_')">
    <!-- Card-->
    <div class="card bg-white rounded shadow-sm" style="border: 1px solid #222">
        <div class="card-body p-0 pb-1 text-center">
            <img class="card-img-top img-fluid d-block mb-3" src="@ShopConstants.ImagePath@Model.Image"
                alt="Imagine card" style="object-fit: cover; height: 200px; width: 100%;">
            <span class="h5">@Model.Name</span>
            <br>
            <span class="text-info h5">@string.Format("{0}", Model.Price) Lei</span>
        </div>
        <a asp-action="Detalii" asp-route-id="@Model.Id" class="btn btn-dark form-control btn-sm p-2 btn-detalii"
            style="height:40px; margin-top: 10px;">Vezi detalii</a>
    </div>
</div>

<style>
    .card-body {
        background-color: white;
        z-index: 1;
    }

    .card {
        position: relative;
    }

    .btn-detalii {
        position: absolute;
        z-index: 0;
        bottom: 0;
        left: 0;
        transform: translateY(0);
        transition: transform 0.3s ease-in-out;
    }

    .card:hover .btn-detalii {
        transform: translateY(125%);
    }
    .card:not(:hover) .btn-detalii {
        transition-delay: 250ms;
    }
</style>